@page "/"

@using Blazor.Extensions.Canvas

@inject IJSRuntime jsRuntime


    <div class="alert alert-warning" role="alert">
        This is demo of Perceptron Neural Network which was implemented in the https://github.com/ayudenko/NeuralNet project on C# language.
        This demo has written using Blazor project which allows to write front-end behavior on C#.
        This Neural Network is developed to paints marks on the canvas in colors depends whether the mark above the line or below.
        How to use:
        <ol>
            <li>Enter the nuber of marks to draw and press button "Draw Marks Randomly" in order to place marks on the canvas.</li>
            <li>Click ones on the canvas to draw a line (can be drawn up to 3 lines)</li>
            <li>Enter the number of marks to train and press button "Teach Me!" to teach the Neural Network.</li>
            <li>Press button Re-run Neural Network to check the results.</li>
            <li>If marks are not painted properly go to the step 3 and continue training Neural Network until the Neural Network starts paint marks in the proper way.</li>
        </ol>
    </div>

<div style="border: 1px solid #000; width:502px; height:502px" @onclick="OnClick" @ref="_divCanvas">
    <BECanvas Width="500" Height="500" @ref="_canvasReference"></BECanvas>
</div>
<button name="draw_marks_randomly" @onclick="DrawMarksRandomly">Draw Marks Randomly</button>
<input type="number" @bind="_pointsNumberForRandomlyDrawing" />
<span>cirles to draw</span>
<span>(@_drawnCircles.ToString() marks have been drawn)</span>
<br />
<button name="teach_me" @onclick="TeachMeOnClick">Teach Me!</button>
<input type="number" @bind="_pointsNumberForTeaching" />
<span> points to teach Neural Network</span>
<span> (Neural Network has been taught on @_circlesForTeaching marks )</span>
<br />
<button name="teach_me" @onclick="ReRunOnClick">Re-run Neural Network</button>
<br />
<button name="teach_me" @onclick="ClearWeightsOnClick">Clear Nerural Net Weights</button>
<button name="teach_me" @onclick="RemoveLineOnClick">Remove the Line</button>
