@page "/"

@using Blazor.Extensions;
@using Blazor.Extensions.Canvas
@using Blazor.Extensions.Canvas.Canvas2D;

@inject IJSRuntime jsRuntime

<div style="border: 1px solid #000; width:502px; height:502px" @onclick="OnClick" @ref="_divCanvas">
    <BECanvas Width="500" Height="500" @ref="_canvasReference"></BECanvas>
</div>
