@page "/"

@using Blazor.Extensions.Canvas

@inject IJSRuntime jsRuntime

<div style="border: 1px solid #000; width:502px; height:502px" @onclick="OnClick" @ref="_divCanvas">
    <BECanvas Width="500" Height="500" @ref="_canvasReference"></BECanvas>
</div>
<button name="teach_me" @ref="_teachMeButton" @onclick="TeachMeOnClick">Teach Me!</button>
